h1,h2{
    text-align: center;
}

a{
    text-decoration: none;
}

li{
    list-style: decimal-leading-zero;
    text-align: left;
    margin-left: 40px;
}

li::after {
  content: ' ✓';
}

#footer{
    text-align: center;
    padding-top: 40px;
}
